.mui-scroll {
  height: 90px;
  line-height: 90px;
}
.mui-scroll .btn-edit,
.mui-scroll .btn-del {
  font-size: 30px;
  padding: 30px;
}
.product-item {
  width: 100%;
  height: 110px;
}
.product-item .cart-img {
  float: left;
  width: 60px;
}
.product-item .cart-img img {
  display: block;
  width: 100%;
}
.product-item .cart-info {
  overflow: hidden;
  padding: 0 10px;
}
.product-item .cart-info .info {
  color: #000;
}
.product-item .price {
  color: red;
}
.product-item .oldPrice {
  text-decoration: line-through;
}
